# Dependencies
node_modules

# Turborepo
.turbo

# Electron / Vite
out
dist
*.tsbuildinfo

# Playwright
test-results
playwright-report
blob-report
playwright/.cache

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
*.local
.eslintcache
